# Servidor
PORT=8080
GIN_MODE=debug

# Base de Datos Relacional (PostgreSQL 18)
DB_URL=postgres://admin:admin@localhost:5433/labdb?sslmode=disable

# Cache y Sesiones (Redis)
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# Motor de Busqueda (Search Engine)
SEARCH_HOST=http://localhost:7700
SEARCH_API_KEY=masterKey

# Seguridad
JWT_SECRET=super_secret_key_2026_change_me
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=720h # 1 mes
