# Servidor
PORT=8080
GIN_MODE=debug

# Base de Datos Relacional (PostgreSQL 18)
DB_URL=postgres://admin:admin@localhost:5433/labdb?sslmode=disable

# Cache y Sesiones (Redis)
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# Seguridad
JWT_SECRET=fantasy_world_cup_secret_key_2026
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=720h

# Usuario Administrador Predefinido
ADMIN_USERNAME=profesor
ADMIN_EMAIL=admin@fantasy.com
ADMIN_PASSWORD=admin123
